RewriteEngine On
RewriteBase /
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]

<FilesMatch "(\.html\.gz|\.js\.gz|\.css\.gz)$">
	# Serve correct encoding type.
	Header append Content-Encoding gzip
	# Force proxies to cache gzipped & non-gzipped css/js files separately.
	Header append Vary Accept-Encoding
</FilesMatch>
